/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow-x: hidden;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: 'Lato';
  src: url('assets/fonts/lato/Lato-Black.woff2') format('woff2'),
  url('assets/fonts/lato/Lato-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('assets/fonts/lato/Lato-BoldItalic.woff2') format('woff2'),
  url('assets/fonts/lato/Lato-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('assets/fonts/lato/Lato-Bold.woff2') format('woff2'),
  url('assets/fonts/lato/Lato-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('assets/fonts/lato/Lato-Italic.woff2') format('woff2'),
  url('assets/fonts/lato/Lato-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('assets/fonts/lato/Lato-Regular.woff2') format('woff2'),
  url('assets/fonts/lato/Lato-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('assets/fonts/lato/Lato-BlackItalic.woff2') format('woff2'),
  url('assets/fonts/lato/Lato-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('assets/fonts/lato/Lato-Light.woff2') format('woff2'),
  url('assets/fonts/lato/Lato-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('assets/fonts/lato/Lato-LightItalic.woff2') format('woff2'),
  url('assets/fonts/lato/Lato-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

/** MAIN **/
:root {
  --mint-color: #baf0da;
  --blue-color: #2649f9;
}

body {
  background: var(--mint-color);
  font-family: 'Lato', sans-serif;
  color: var(--blue-color);
  font-size:62.5%;
}

h1 {
  font-size: 3rem;
  line-height: 2.4;
}

header {
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.countdown-container {
  text-align: center;
  background: #aef7a4;
}

.countdown-container h2 {
  font-size: 1.2rem;
}

.countdown-container > div {
  font-size: 2rem;
}

.flyer-container {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.responsive-flyer {
  max-width: 50vw;
  max-height: 80vh;
  margin: 16px;
}

.countdown-container {
  padding: 2rem 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#ds-countdown {
  flex: 100vw 0 0;
}

.text-container {
  display: flex;
  justify-content: space-between;
  padding: 1.8rem;
}

.text-column {
  flex: calc(50% - 1.3rem) 0 0;
  font-size: 1.1rem;
  text-align: justify;
}

.text-column img,
.text-column p {
  margin-bottom: 0.8rem;
}

.text-column h3,
.text-column h4 {
  margin-bottom: 0.8rem;
  margin-top: 1.6rem;
}

.text-column ul {
  text-align: left;
}

.stream-container {
  background: #e3ef5f;
}

.video-container {
  position:relative;
  padding-bottom:56.25%;
  padding-top:30px;
  height:0;
  overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}


@media only screen and (max-width: 769px) {
  h1 {
    line-height: 1.2;
    font-size: 2rem;
  }

  .countdown-container {
    padding: 1rem 0.5rem;
  }

  .countdown-container h2 {
    font-size: 0.6rem;
  }

  .countdown-container > div {
    font-size: 1rem;
  }

  .text-container {
    flex-direction: column;
  }

  .text-column {
    text-align: left;
  }

}
